body{
 margin: 0 auto;
 font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
h1 {
  color: #222;
  font-size: 18px;
}
.center{
  text-align: center;
}
.italic{
  font-style: italic;
  color: #000;
}
.centered{
  margin: 0 auto;
  display: block;
}
